.tasks {
    margin-top: 4rem;
}

.tasks header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counterTasksCreated {
    padding: 2px 8px;
    border-radius: 16px;
    font-size: 0.75rem;
    color: var(--gray-200);
    background-color: var(--gray-400);
    font-weight: 700;
}

.createTasksColor {
    color: var(--blue);
    font-weight: 700;
    margin-right: 0.5rem;
}

.completedTasksColor {
    color: var(--purple);
    font-weight: 700;
    margin-right: 0.5rem;
}

.counterTasksCompleted {
    padding: 2px 8px;
    border-radius: 16px;
    font-size: 0.75rem;
    color: var(--gray-200);
    background-color: var(--gray-400);
    font-weight: 700;
}